.navbar-header>a>img{
	width: 83px;
}
body{
	background: #F8F8F8;
}


.container .high{
	margin-top: 60px;
	background: white;
}
.container .high img{
	padding: 30px 10px;
}

.container .high h3{
	margin: 10px 10px;
	padding: 10px 0;
	border-bottom: 1px dotted #999999;
}


.container .high:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}





.container .hig{
	margin: 20px 0px;
	background: white;

}
.container .hig h3{
	margin: 10px 10px;
	padding: 10px 10px;
	background: black;
	color: #EB9316;
	font-size: 30px;
}

.container .hig p{
	margin: 10px 10px;
	padding: 10px 10px;
	
}

.container .hig img{
	padding: 30px 20px;
}

.container .hig:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}



.container .hi{
	margin: 20px 0px;
	background: white;

}
.container .hi h3{
	margin: 10px 10px;
	padding: 10px 10px;
	background: black;
	color: #EB9316;
	font-size: 30px;
	text-align: center;
}

.container .hi p{
	margin: 10px 10px;
	padding: 10px 10px;
	
}

.container .hi img{
	padding: 30px 20px;
}

.container .hi:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

 .code{
	width: 200px;
	height: 230px;
	margin: 0 auto;
}


.container .h{
	margin: 20px 0px;
	background: white;

}
.container .h h3{
	margin: 10px 10px;
	padding: 10px 10px;
	background: black;
	color: #EB9316;
	font-size: 30px;
	text-align: center;
}

.container .h p{
	margin: 10px 10px;
	padding: 10px 10px;
	
}

.container .h img{
	padding: 30px 20px;
}

.container .h:hover{
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}


.container .h p{
	
	margin: 10px 10px;
	padding: 10px 10px;
}


.main3{
	background: black;
}
.main3 p{
	text-align: center;
	color: #5E5E5E;
	
}

.main3 p:hover{
	text-align: center;
	color: #C7254E;
	
}
















.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
}
